<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

</head>
<body>
    <header class="header mb-5 pb-5" th:fragment="header">
    	<nav class="text-white navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    		<div class="collapse navbar-collapse">
    			<ul class="navbar-nav mr-auto">
    				<li class="nav-item" >
    					<button class="btn btn-outline-primary btn-sm active" th:href="@{/admin}" th:text="#{nav.admin_panel}">Panel administratora</button>
    				</li>

    			</ul>
    			<p class="my-0 pr-2 text-light" th:text="${loggedUser.firstname}+' '+${loggedUser.lastname}">Dawid Brończak</p>
    			<form th:action="@{/logout}" method="post">
    				<button class="btn btn-sm btn-primary" type="submit" th:text="#{nav.button.logout}"></button>
    			</form>
    		</div>
    	</nav>
    </header>
</body>
</html>