<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link th:replace="fragments/footer :: css">
	<title th:text="#{title.edit_user}"></title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main class="container" >
	<div class="starter-template">
	<h3 th:text="#{title.edit_user}"></h3>
	<form th:object="${user}" th:action="@{/admin/user/edit}" method="post" class="col-5 ml-0 pl-0" >	
				<input type="hidden" th:field="*{id}"/>
				<div class="form-group">
					<label for="firstname" th:text="#{input.firstname}"></label>					
					<input type="text" th:field="*{firstname}"  id="firstname" class="form-control" th:placeholder="#{input.firstname}"/>
					<div class="text-danger small" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>				
				</div>	
				<div class="form-group">
					<label for="lastname" th:text="#{input.lastname}"></label>					
					<input type="text" th:field="*{lastname}" name="lastname" id="lastname" class="form-control" th:placeholder="#{input.lastname}"/>
					<div class="text-danger small" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
				</div>	
				<div class="form-group">
					<label for="email" th:text="#{input.email}"></label>
					<input type="text" th:field="*{email}" name="email" id="email" class="form-control" th:placeholder="#{input.email}"/>
					<div class="text-danger small" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
				</div>	
				<a class="btn btn-primary float-left mr-5" th:href="@{/admin/users}" th:text="#{button.back}"></a>		
				<input type="submit" class="btn btn-primary float-right" th:value="#{button.apply}">
			</form>
			
	</div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>